body {
  color: purple;
  background-color: gold;
}

a {
  color: #0066CC;
}

a:hover {
  color: maroon;
}

img {
  width: 200px;
  height: auto;
}

.section {
  background-color: gold;
  padding: 20px;
  border: 2px solid maroon;
}

#header {
  background-color: maroon;
  padding: 20px;
  text-align: center;
}
